NODE_ENV=development
PORT=3001

# PostgreSQL (Railway)
DATABASE_URL=postgresql://usuario:password@host:5432/gymvip_db

# JWT
JWT_SECRET=tu_jwt_secret_muy_seguro_aqui_cambiar
JWT_EXPIRES_IN=7d

# PayPhone
PAYPHONE_API_URL=https://pay.payphonetodoesposible.com/api

# App
FRONTEND_URL=http://localhost:5173
APP_URL=http://localhost:3001
